:root{
    --dm-background: hsl(207, 26%, 17%);
    --dm-text: hsl(0, 0%, 100%);
    --dm-elements: hsl(209, 23%, 22%);

    --dm-inputs: hsl(0, 0%, 52%);
    --lm-inputs: white;

    --lm-background: hsl(0, 0%, 98%);
    --lm-text: hsl(200, 15%, 8%);
    --lm-elements: hsl(0, 0%, 100%); 
}

*{
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

/* I will work with CUBE css metholodogie + write my classes with BEM metholodogie way  */
/* Start Compositions  */
.container{
    max-width: 60rem;
    margin: auto;
    padding-inline: 2rem;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-content: center;
}
/* End Compositions  */
/* Start utilities classes  */
.fw-300{
    font-weight: 300;
}
.fw-600{
    font-weight: 600;
}
.fw-800{
    font-weight: 800;
}
.fs-16{
    font-size: 1rem
}
.fs-14{
    font-size: 14px;
}
.lm-text{
    color: var(--lm-text);
}
.lm-elemnts{
    color: var(--lm-elements)
}
.dm-text{
    color: var(--dm-text)
}
.dm-elements{
    color: var(--dm-elements)
}
.lm-inputs{
    background-color: var(--lm-inputs);
}
.lm-background{
    background-color: var(--lm-background);
}
.dm-background{
    background-color: var(--dm-background);
}
/* End utilities classes  */
/* Start blocks */
    /* start header  */
    .header{
        /* box-shadow: 0 0px 55px 364px black; */
        height: 100%;
    }
    button{
        cursor: pointer;
    }
    /* End header  */
    /* Start main  */
    .main .container > .lm-inputs{
        border-radius: .25rem;
    }
    .main .container > *{
        height: 3rem;
        border: 1px solid red;
        background-color: var(--lm-inputs);
        display:flex;
        align-items: center;
        align-content: center;
    }
    .input input:focus{
        outline: none;
    }
    .input i{
        padding-inline: 1rem;
    }
    .filter {
        padding-inline: 1rem;
        width: 15rem;
        height: 100%;
        cursor: pointer;
        outline: none;
    }
    .filter span{
        width:100%;
    }
   
    .display{
        display: none;
    }
    .filter ul li{
        padding-inline: 1rem;
        padding-block: .2rem;
    }
    /* End main  */
/* End blocks */