:root{
    --dm-background: hsl(207, 26%, 17%);
    --dm-text: hsl(0, 0%, 100%);
    --dm-elements: hsl(209, 23%, 22%);

    --dm-inputs: hsl(0, 0%, 52%);
    --lm-inputs: white;

    --lm-background: hsl(0, 0%, 98%);
    --lm-text: hsl(200, 15%, 8%);
    --lm-elements: hsl(0, 0%, 100%); 
}

*{
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

/* I will work with CUBE css metholodogie + write my classes with BEM metholodogie way  */
/* Start Compositions  */
.container{
    max-width: 60rem;
    margin: auto;
    padding-inline: 1rem;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
/* End Compositions  */
/* Start utilities classes  */
.fw-300{
    font-weight: 300;
}
.fw-600{
    font-weight: 600;
}
.fw-800{
    font-weight: 800;
}
.fs-16{
    font-size: 1rem
}
.fs-14{
    font-size: 14px;
}
.lm-text{
    color: var(--lm-text);
}
.lm-elemnts{
    color: var(--lm-elements)
}
.dm-text{
    color: var(--dm-text)
}
.dm-elements{
    color: var(--dm-elements)
}
.lm-inputs{
    background-color: var(--lm-inputs);
}
.lm-background{
    background-color: var(--lm-background);
}
.dm-background{
    background-color: var(--dm-background);
}
/* End utilities classes  */
/* Start blocks */
    /* start header  */
    .header{
        min-height: 100% ;
        box-shadow: 0 0px 5px rgba(0,0,0,.2)
    }
    .header > div{
        width: 100%;
        min-height: 4rem;
    }
    button{
        cursor: pointer;
    }
    /* End header  */
    /* Start main  */
    .searchFilterBar{
        padding-block: 2rem;
    }
    .searchFilterBar > *{
        min-height: 3rem;
        background-color: var(--lm-inputs);
        display:flex;
        align-items: center;
        align-content: center;
        max-width: 100%;
        border-radius: .25rem;
        box-shadow: 0 0 .4rem -5px rgba(0,0,0,.2);
    }
    .input-container i{
        padding-inline: 1rem;
        color: var(--dm-inputs);
    }
    .input-container input{
        background-color: transparent;
        width: 100%;
    }
    @media(max-width: 40em){
        .searchFilterBar{
            flex-direction: column;
            align-items: flex-start;
        }
        .searchFilterBar label{
            margin: 0 0 2rem 0;
        }
        .input-container{
            width: 100%;
        }
        .searchFilterBar select{
            width: 50vw;
        }
    }
    .input-container input:focus{
        outline: none;
    }
    .region-filter {
        padding-inline: 1rem;
        width: 15rem;
        height: 100%;
        cursor: pointer;
        outline: none;
        border: none;
        color: var(--dm-inputs)
    }
    /* End main  */
/* End blocks */


.carte{
    border: 1px solid green; 
    border-radius: .25rem;
    width: 15rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}
.carte__image{
    border-radius: .25rem;
    width: 100%;
}